* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #2C3C5B;
    font-family: 'Segoe UI', Tahoma;
    min-height: 550px;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 20%;
    background-repeat: no-repeat;
 }

#formulario {
    width: 500px;
    margin: 50px auto;
  
    position: relative;
}

#formulario fieldset {
    background: white;
    border: 0 none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    box-shadow: 0 0 15px 1 px rgba(0,0,0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;

}

#formulario input, #formulario textarea {
    padding: 10px;
    border: 1px solid rgba(38, 128, 101, 0.9);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    font: 14px 'Segoe UI', Tahoma;
    color: rgb(4, 64, 67);
}
#formulario p {
    font: 20px  'Segoe UI', Tahoma;
    background-color:  rgb(0, 90, 153) rgb(4, 64, 67);
}

#formulario h1 {
    font: 18px  'Segoe UI', Tahoma;
    color:  rgb(4, 64, 67);
    width: 100%;
    float: left;
    
    margin-bottom: 2%;
}
#formulario h2 {
    font: 18px  'Segoe UI', Tahoma;
    color:  rgb(4, 64, 67);
    width: 100%;
    float: left;
    margin-bottom: 2%;
}
#formulario h3 {
    font: 50px  'Segoe UI', Tahoma;
    color:  rgb(4, 64, 67);
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 5%;
}


#formulario select {
    padding: 10px;
    border: 1px solid rgba(38, 128, 101, 0.9);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    outline: none;
    font: 14px 'Segoe UI', Tahoma;
    color: rgb(4, 64, 67);
}
section {
    float:none;
    width:550px;
    margin:100px auto;
    color:rgb(255,255,255);
    font-size: 15px;
    text-align: center;
    white-space: nowrap;
}


section table thead {
    color:rgb(200, 200, 200);
    background-color: rgb(200, 200, 200);
}

section table thead tr th {
    font: 20px  'Segoe UI', Tahoma;
    padding: 7px 5 px;
    font-size: 15px;
    text-align: center;
    color: rgb(0,0,0);
    border: solid rgb(255,255,255);
    border-bottom-width: 1px;
    border-right-width: 1px;   
}
section table thead tr th:last-child {
    border-right-width: 0px;
}

section table tbody select {
    padding: 1px 1px;
    font-size: 22px;
    
}
section table {
    position: absolute;
    font-size: 22px;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section table tbody {
    background-color: rgb(255, 255, 255);
    
}
section table tbody tr td {
    padding: 3px 5px;
    border-top: 0 solid rgb(255, 255, 255);
    font-size: 12px;
    border-bottom-width: 1px;
    border-right-width: 1px;
}

section table tfoot {
    font: 'Segoe UI', Tahoma;
    color:rgb(0,0,0);
    background-color: rgb(150, 150, 150);
    Font-size: 16px;
    font-family: 'Su';
}

section table tr button {
    background: rgb(0,0,0);
    padding: 5px 8px;
    border-bottom-width: 2px;
    border-right-width: 2px;
    margin-left: 12px;

}
section p {
    font: 20px  'Segoe UI', Tahoma;
    color:  rgb(4, 64, 67);
    transform: translate(15%);
}